body{
    background: lightblue;
    text-align: center;
}

#a{
    background: red;
    height:200px;
    width:200px;
    margin-left: 45%;
    border-radius: 50%;
}

#center{
    display: inline;
    justify-content: center;
    align-items: center;
    position: relative;
}